/*Base css*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover{text-decoration: none;}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 15px;
	font-weight: 700;
}

.section-padding {
    padding: 80px 0px;
}

.service-bg-1{background-image: url(../img/chef-1.jpg)}
.service-bg-2{background-image: url(../img/chef-2.jpg)}
.service-bg-3{background-image: url(../img/chef-3.jpg)}
.service-bg-4{background-image: url(../img/chef-4.jpg)}

.section-title h2 {color: #333;margin-bottom: 30px;}

body {
    background-color: #F9F9F8;
}

.single-service-item {
    background: #fff;
    transition: .5s;
}

.service-bg {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.service-content {
    padding: 14px;
}

.service-content h3 {
    margin-top: 20px;
    font-size: 19px;
}

.service-content p {
    line-height: 1.7;
}

.service-btn {
    display: inline-block;
    /* background: #12492D; */
    /* color: #fff; */
    border-radius: 50px;
    color: #12492D;
    transition: .5s;
    padding: 10px 0px;
}



.single-service-item:hover a.service-btn {
    background: #12492D;
    color: #fff;
     padding: 10px 20px;
}

.service-btn i.fa {
    margin-left: 6px;
}
.single-service-item:hover {
    box-shadow: 0px 0px 10px #ddd;
}